* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 24, 24);
}

.container {
  width: 700px;
  height: 348px;
  background-image: url(../img/background.png);
  padding-left: 20px;
  position: absolute;
  top: 25%;
  left: 25%;
}

.title {
  padding-top: 40px;
  color: rgb(8, 138, 120);
  text-align: center;
  font-family: sans-serif, serif, "Lucida Sans";
  font-style: italic;
  font-size: 2.3em;
}

.item {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: progress;
}

li {
  font-family: sans-serif, serif, "Lucida Sans";
  font-style: italic;
  font-size: 1.8rem;
}
