.parag {
    color: green;
    background-image: url(../img/pexels-henry-&-co-1939485.jpg);   
}

#paragrafos {
    background-image: url(../img/pexels-henry-&-co-1939485.jpg);
    background-repeat: no-repeat;  /*desta forma não repete a imagem porem ficou pequena*/
    background-size: cover;  /* desta forma cobre todo o elemento*/
    background-attachment: fixed;  /* desta forma ele faz um efeito paralax*/
}

.subdiv {
    background: rgb(129, 129, 168);
}

 .main {
    color: rgb(4, 124, 230);
    background-color: burlywood;
}

.title {
    color: dodgerblue;
}

.title2 {
   color: rgb(0,100,200); /* cores em rgb que siginifica (red, green, blue) onde podemos ir mudando os valores teremos cores personalizadas*/
}

.title3 {
    color: rgba(0,100,255,0.2);  /*aqui o ultimo numero vai de 0 a 1 sendo 0. algum valor vai dando transparencia*/
}

.title4 {
    color: #ffff00;  /*aqui vale o mesmo caso do rgb ou seja as duas primeiras casas representa o red os (outros dois ff) green (os ultimos dois 00) blue*/
}

.subTitle {
    color: DarkSlateGray;
    font-size: 20px;
}

#nowOrd {
    color: brown;
}

#order {
    color: brown;
}

#tab {
    color: black;
    font-size: 18px;
}

.tab {
    font-size: 15px;
    color: brown;
}

#cm {
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: red;
    width: 1mm;
    height: 1mm;
}

#in {
    background-color: blue;
    width: 1in;
    height: 1in;
}

#px {
    background-color: red;
    width: 10px;
    height: 10px;
}

#pt {
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc {
    background-color: red;
    width: 1pc;
    height: 1pc;
}

/*html {
    font-size: 20px;
}
*/
.container {
    font-size: 20px;
}

.inside {
    font-size: 1em;  /* (em)=> significa tamanho do elemento que fica ligado oa seu pai*/

   /* font-size: 2rem;  (rem)=> significa tamanho do elemento ligado ao html*/
}

.container2 {
    width: 50vw;  /* (1 vw)significa 1 por cento da largura ou seja do width */
   /*heigth: 50vh que significa porcentagem da aultura ou seja do heigth*/
    background-color: red;
    }
    
    .inside2 {
    width: 100px;
  
    background-color: blue;
    }
    

.container3 {
width: 200px;
height: 100px;
background-color: red;
}

.inside3 {
width:  80%;
height: 50%;  /*neste caso vai sempre pegar a porcentagem do elemento pai que no caso e o container*/
background-color: blue;
}

#base {
    height: 10px;
    background-color: red;
}

#container {
    background-color: blue;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
    margin: 10px;  /*desta forma coloca 10px para todos os lados seguindo a ordem que é top, left, bottom e right na parte externa*/
    padding-top: 10px;
    padding-left: 10px;
    padding: 10px; /*desta forma coloca 10px para todos os lados seguindo a ordem que é top, left, bottom e right na parte interna*/
    
}

